@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/HelveticaNowMicro/HelveticaNowMicro.eot');
    src: url('../fonts/HelveticaNowMicro/HelveticaNowMicro.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNowMicro/HelveticaNowMicro.woff2') format('woff2'),
         url('../fonts/HelveticaNowMicro/HelveticaNowMicro.woff') format('woff'),
         url('../fonts/HelveticaNowMicro/HelveticaNowMicro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/HelveticaNowMicro/HelveticaNowMicro-Light.eot');
    src: url('../fonts/HelveticaNowMicro/HelveticaNowMicro-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNowMicro/HelveticaNowMicro-Light.woff2') format('woff2'),
         url('../fonts/HelveticaNowMicro/HelveticaNowMicro-Light.woff') format('woff'),
         url('../fonts/HelveticaNowMicro/HelveticaNowMicroLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/HelveticaNowMicro/HelveticaNowMicro-Bold.eot');
    src: url('../fonts/HelveticaNowMicro/HelveticaNowMicro-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNowMicro/HelveticaNowMicro-Bold.woff2') format('woff2'),
         url('../fonts/HelveticaNowMicro/HelveticaNowMicro-Bold.woff') format('woff'),
         url('../fonts/HelveticaNowMicro/HelveticaNowMicroBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}