body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    background: #6D6258;
    font-weight: 400;
    color: #796e5f;
    overflow-x: hidden;
}

footer[role=contentinfo] {
    background: #6d6258;
}

footer[role=contentinfo] .top .headings {
    color: #b1A195;
}

footer[role=contentinfo] .top .map a {
    color: #EDDFD5;
    font-weight: 300;
}

footer[role=contentinfo] .top address .label {
    color: #C9bbb1;
}

.main-wrapper {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    background: #fff;
}

.main {
    background: #fff;
}

.carousel-inner .item {
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-caption {
    left: 6%;
    right: auto;
    text-align: left;
    bottom:auto;
    padding: 40px 0 0;
    max-width: 70%;
}

.item:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00402d;
    opacity: .7;
}

.carousel-caption .caption-title {
    font-size: 35px;
    display: inline-block;
    padding: 10px 0px 0px;
    position: relative;
    text-transform: uppercase;
}

.carousel-caption .caption-title:before {
    content: '';
    width: 50%;
    border-top: solid 1px #fff;
    height: 1px;
    position: absolute;
    top: 0px;
}

.carousel-caption .caption-subtitle {
    font-size: 25px;
    line-height: 30px;
    margin: 5px 0px;
}

.carousel-caption .caption-description {
    display: inline-block;
    width: 80%;
}


.carousel-caption .time {
    display: inline-block;
    background: #1ade9c;
    padding: 5px 20px;
    border-radius: 4px;
    margin: 10px 5px 0 0 ;
    font-size: 18px;
}

.carousel-caption .cta a {
    display: inline-block;
    background: #00AEC7;
    padding: 5px 20px;
    border-radius: 4px;
    margin: 10px 0px;
}

.carousel-caption .cta a span {
    color: #fff;
}

.cats-container .card {
    display: block;
    box-shadow: rgba(0, 0, 0, .12) 0 5px 14px, rgba(0, 0, 0, .12) 0 1px 33px;
    margin: 0px;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    min-height: 170px;
    background: #fff;
    position: relative;
}

.cats-container .card.card-cat::before {
    display: block;
    height: 5px;
    width: 100%;
    content: '';
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1fb7cc+1,755847+100 */
    background: rgb(26, 222, 156);
    /* Old browsers */
    background: -moz-linear-gradient(left, rgb(0, 64, 45) 1%, rgb(26, 222, 156) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgb(0, 64, 45) 1%, rgb(26, 222, 156) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgb(0, 64, 45) 1%, rgb(26, 222, 156) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1fb7cc', endColorstr='#755847', GradientType=1);
    /* IE6-9 */
}

.cats-container .card span.icon {
    display: inline-block;
    margin: 10px 0px 0px 20px;
    border-bottom: solid 1px #796e5f;
    width: 80px;
}

.cats-container .card span.name {
    float: left;
    display: block;
    margin: 10px 10px 10px 20px;
    color: #796e5f;
    font-size: 16px;
    clear: both;
}

.container > .main > .col-sm-12 {
    float: none;
}

.card span.icon img {
    display: block;
    max-width: 100%;
}

.subcats {
    position: absolute;
    width: 1150px;
    bottom: -60px;
    z-index: 1;
    left: 15px;
    display: none;
    bottom: -35px;
}

.cat.active .row.subcats {
    display: block;
}

.subcat {
    background: #18b6cb;
    text-align: center;
    padding: 15px 0;
}

.subcat a span {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
}

.subcat.active {
    background: #46d5e0;
    position: relative;
}

.expand .cat.active .card-cat::after {
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-left-width: 10px;
    border-right-width: 10px;
    border-top: 15px solid #fff;
    content: '';
    position: absolute;
    left: 20px;
    z-index: 3;
    bottom: -15px;
}

.cats-container {
    min-height: 152px;
}

.cats-container.expand {
    min-height: 220px;
}

.row.cats {
    position: relative;
    margin-bottom: 20px;
}

.row.cats .cat {
    margin: 0px;
    position: static;
}

.main-cat {
    position: relative;
}

nav#header-navbar {
    border-radius: 0;
    padding: 0;
}

.course .card {
    height: 500px;
    position: relative;
    margin-bottom: 30px;
    display: block;
    box-shadow: rgba(0, 0, 0, .12) 0 1px 14px, rgba(0, 0, 0, .12) 0 1px 13px;
    overflow: hidden;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    min-height: 170px;
    background: #fff;
    margin: 0px 0px;
    padding: 0px 0px 20px;
}

.course .card .card-content {
    padding: 0 15px;
    position: relative;
    height: 260px;
}


.course-desc{
     padding: 40px 0 120px;
 }

.course-desc h2{
    color: #00b17f;
}

.course.realizado .card {
    height: 390px;
}
#courseList .course.realizado .title {
    font-size: 20px;
}

.card-content ul.features li {
    padding: 10px 0px 10px;
}


.course.realizado .card .card-content {
    height: 100px;
}

.course-desc .inscribirte{
    font-size: 22px;
}

.course-desc .inscripcion-btn {
    display: block;
    width: 86%;
    background: #00b17f;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 5%;
    font-size: 22px;
    color: #fff;
    text-align: center;
}

.modal-content{
    border-radius: 0;
}
.modal-footer {
    padding: 15px;
    text-align: center;
    border-top: none;
}

.modal-heder{
    background-image: url("../img/modal-header.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.navbar-natura .dropdown-menu{
    width:350px;
    box-shadow:rgba(0,0,0,.12) 0 1px 6px,rgba(0,0,0,.12) 0 1px 4px;
    border:0;
    border-radius:3px;
    padding:0;
    margin-top:25px!important;
    background-color:#fff
}
.navbar-natura .dropdown-menu:after{
    content:'';
    position:absolute;
    width:10px;
    height:10px;
    transform:rotate(45deg);
    top:-5px;
    right:15px;
    box-shadow:rgba(0,0,0,.12) -1px -1px 3px -1px;
    background:#fff
}
.navbar-natura .dropdown-menu .up{
    padding:25px;
    background-color:#1ade9c
}
.navbar-natura .dropdown-menu .name{
    font-weight:700;
    color:#00b17f;
    font-size:16px;
    max-width:220px;
    margin-left:15px
}
.navbar-natura .dropdown-menu .name span{
    margin-top:5px;
    font-size:13px;
    color:#454545
}
.navbar-natura .dropdown-menu .avt{
    color:#fff;
    background-color:#00b17f;
    user-select:none;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    font-size:30px;
    border-radius:50%;
    height:60px;
    width:60px
}
.navbar-natura .dropdown-menu ul{
    margin-left:0;
    text-align: center;
    padding: 10px;
}
.navbar-natura .dropdown-menu ul li{
    border-radius: 20px;
    border: 1px solid #e1e1e1;
    font-weight: 500;
    min-width: 80px;
    height: 35px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    padding: 5px 20px;
    margin: 15px;
}

.navbar-natura .dropdown-menu ul li.realizadosl a{
    color:#fff
}
.navbar-natura .dropdown-menu ul li a{
    display:block;
    width:100%;
    line-height:44px
}
.card-header.img .new_estreno{
    width: 100%;
    position: absolute;
    top: -7px;
    right: -7px;
    max-width: 100px;
}
.content-modal .titulo-modal{
    margin: 0 auto;
    color: #00b17f;
    display: block;
    font-size: 24px;
    /* width: 100%; */
}
.content-modal{
    position: relative;
    display: flex;
    height: 137px;
    width: 450px;
    margin: 0 auto;
    flex-direction: column;
}
.content-modal span.name-curso {
    display: block;
    margin: 20px auto;
    font-size: 34px;
    font-weight: bold;
    color: #00b17f
}
@media (min-width: 768px) {
    .main-wrapper {
        width: 750px;
    }

    .carousel-inner .item {
        height: 360px;
    }

    .cats-container .card {
        min-height: 90px;
        margin: 10px 0px;
    }

    .row.cats .cat {
        position: relative;
    }

    .subcats {
        width: 100%;
        bottom: -107px;
    }

    .cats-container .card span.name {
        margin: 30px 10px 0px;
        clear: none;
    }

    .cats-container .card span.icon {
        width: 60px;
    }

    .subcat {
        padding: 7px 0;
    }

    .subcat a span {
        font-size: 17px;
    }
}

@media (min-width: 992px) {
    .main-wrapper {
        width: 970px;
        padding-right: 0px;
        padding-left: 0px;
    }

    .cats-container {
        position: relative;
        top: -20px;
    }

    .cats-container .card span.name {
        font-size: 14px;
        margin: 6px 10px 0px;
    }

    .cats-container .card {
        min-height: 155px;
    }

    .row.cats .cat {
        padding: 0 5px;
        position: static;
    }

    .row.cats .col-md-2.cat {
        width: 14.15%;
    }

    .subcats {
        width: 940px;
        bottom: -35px;
    }
}

@media (min-width: 1200px) {
    .main-wrapper {
        width: 1170px;
        padding-right: 0px;
        padding-left: 0px;
    }

    .subcats {
        width: 1150px;
        bottom: -35px;
    }

    .cats-container .card span.name {
        font-size: 17px;
        margin: 5px 10px;
    }

    .subcat a span {
        font-size: 20px;
    }
}

@media (min-width: 1335px) {
    .main-wrapper {
        width: 1300px;
        padding-right: 0px;
        padding-left: 0px;
    }

   /* .carousel-inner .item {
        height: 480px;
    }*/
}

/** Small devices **/
@media (max-width: 768px) {
    .row.cats .cat {
        width: 50%;
        position: relative;
    }

    .subcat a span {
        font-size: 16px;
    }

    .cats-container {
        min-height: auto;
    }

    .cat.active::before {
        display: none;
    }

    .subcats {
        bottom: -100%;
        width: auto;
        bottom: -195px;
    }

    .cats-container .card {
        min-height: 80px;
        text-align: center;
        margin: 10px 0px 0px;
    }

    .carousel-inner .item {
        height: 340px;
    }

    .cats-container .card span.icon {
        float: left;
        margin: 10px 5px 0px 8px;
        width: 40px;
    }

    .cats-container .card span.name {
        float: left;
        font-size: 13px;
        clear: none;
        margin: 16px 0px 0px;
        max-width: 121px;
        text-align: left;
    }

    .subcat {
        width: 50%;
        padding: 5px 0px;
    }

    .cats-container {
        min-height: auto;
    }

    #subcats {
        top: 100%;
        width: auto;
    }

    .subcat {
        width: 100%;
    }

    .main-cat {
        position: relative;
    }

    .carousel-caption {
        left: 15%;
        right: auto;
        text-align: left;

    }

    .item:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #00000096;
    }

    .carousel-caption .caption-title {
        font-size: 25px;
        display: inline-block;
        padding: 10px 0px 0px;
        position: relative;
        text-transform: uppercase;
    }

    .carousel-caption .caption-title:before {
        content: '';
        width: 50%;
        border-top: solid 1px #fff;
        height: 1px;
        position: absolute;
        top: 0px;
    }

    .carousel-caption .caption-subtitle {
        font-size: 20px;
        line-height: 25px;
        margin: 5px 0px;
    }

    .carousel-caption .caption-description {
        display: inline-block;
        width: 80%;
        font-size: 14px;
    }

    .carousel-caption .cta a {
        display: inline-block;
        background: #00AEC7;
        padding: 5px 20px;
        border-radius: 4px;
        margin: 10px 0px;
    }

    .carousel-caption .cta a span {
        color: #fff;
    }
}

@media (max-width: 460px) {
    .row.cats .cat {
        width: 100%;
    }

    .cats-container .card span.icon {
        width: 60px;
        float: left;
        margin: 10px 0px 0px 10px;
    }

    .cats-container .card {
        min-height: 90px;
    }

    .cats-container .card span.name {
        clear: none;
        width: auto;
        float: left;
        font-size: 13px;
        margin: 27px 0px 0px 15px;
        max-width: 120px;
        text-align: left;
    }

    .navbar-default .navbar-brand {
        margin-right: 0px;
    }

    .subcats {
        width: 100%;
        bottom: -196px;
    }
}

@media (max-width: 1199px){
    #courseList .course.realizado .title {
        font-size: 20px;
    }
    .card-content ul.features li {
        padding: 3px 0px 3px;
    }

    .card-content a.title.link-main{
        display: block;
        height: 50px !important;
    }
}

@media (max-width: 991px){
    .card-content a.title.link-main{
        display: block;
        height: 40px !important;
    }
    .card-content ul.features li {
        padding: 10px 0px 10px;
    }
    #courseList .course.realizado .title {
        font-size: 32px;
    }

    .course.realizado{
        margin-bottom: 70px !important;
    }

}

@media (max-width: 484px){
    #courseList .course.realizado .title {
        font-size: 22px;
    }
    .card-content ul.features li {
        padding: 15px 0px 10px;
    }

    .cats-container .card .vermas.vermasrespond {
        left: 50%;
        margin-left: -44px !important;
    }
}

@media (max-width: 543px){
    .courses .course-alto .card .card-content {
        height: 314px !important;
    }
    .cats-container .card .vermas.vermasrespond {
        left: 50%;
        margin-left: -55px !important;
    }
    .courses .course-alto .card {
        height: 552px !important;
    }
    .courses .course-alto {
        height: 579px !important;
    }
}
