/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

body{
    font-family: 'Helvetica';
}
.header{
    height: 100px;
    width: 100%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}
.header .contenedor{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
img.logo {
    display: block;
    width: 100%;
    max-width: 100px;
    margin: 8px auto;
}
.contenedor span.frase {
    font-size: 20px;
    font-weight: 400;
    display: block;
    width: 117px;
    margin: 7px 0;
}
img.user {
    display: block;
    margin: 32px auto;
    width: 100%;
    max-width: 36px;
}
.banner {
    height: 480px;
    width: 100%;
    top: 0px;
    background-size: cover;
}
img.img-banner {
    width: 100%;
}
.contenido-influencer {
    display: block;
    width: 1000px;
    margin: 0 auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.menu {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.influencers {
    width: 100%;
    position: relative;
}
.banner .menu span {
    display: block;
    padding: 10px;
    font-size: 28px;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
}
.bienvenida {
    width: 100%;
    background-color: rgb(32 , 22 , 44 , 0.8);
    padding: 33px;
    margin-top: 22px;
}

.bienvenida span {
    font-size: 85px;
    display: block;
    color: #fff;
    font-weight: 700;
}

.bienvenida p {
    display: block;
    font-size: 21px;
    width: 70%;
    font-weight: 300;
    color: #fff;
}
.cartas{
    height: 500px;
    position: relative;
    display: block;
}
.cartas .carta {
    height: 400px;
    position: relative;
    display: block;
    background-color: #fff;
    font-family: 'Helvetica';
}
.header{
    height: 100px;
    width: 100%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}
img.logo {
    display: block;
    width: 100%;
    max-width: 272px;
    /* margin: 8px auto; */
    cursor: pointer;
    margin-top: -20px;
}
.contenedor span.frase {
    font-size: 19px;
    font-weight: 300;
    display: block;
    width: 137px;
    margin: 7px 0;
    color: #0A0621;
}
img.user {
    display: block;
    margin: 32px auto;
    width: 100%;
    max-width: 36px;
    cursor: pointer;
}
.banner {
    height: 480px;
    width: 100%;
    top: 0px;
    background-size: cover;
}
img.img-banner {
    width: 100%;
}
.contenido-influencer {
    display: block;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.menu {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.influencers {
    width: 100%;
    position: relative;
}
.banner .menu span {
    display: block;
    padding: 10px;
    font-size: 28px;
    color: #fff;
    font-weight: 300;
    cursor: pointer;
}
.bienvenida {
    width: 100%;
    background-color: rgb(32 , 22 , 44 , 0.8);
    padding: 33px;
    margin-top: 80px;
    flex-direction: column;
}

.bienvenida span {
    font-size: 85px;
    display: block;
    color: #fff;
    font-weight: 400;
}

.bienvenida p {
    display: block;
    font-size: 21px;
    width: 70%;
    font-weight: 300;
    color: #fff;
}
.cartas{
    height: 400px;
    position: relative;
    display: block;
    margin-bottom: 40px;
}
.cartas .carta {
    height: 300px;
    position: relative;
    display: block;
    background-color: #fff;
    -webkit-box-shadow: 10px 10px 45px -21px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 45px -21px rgba(0,0,0,0.75);
}

.cartas .carta .carta-header {
    height: 200px;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.seccion {
    margin-top: 30px;
}

.cartas .carta .carta-contenido {
    position: relative;
    height: 200px;
}

.cartas .carta .carta-contenido p {
    font-size: 18px;
    font-weight: 300;
    color: #000;
    width: 100%;
    padding: 20px;
}
.cartas .carta .carta-contenido a {
    background: #000;
    color: #fff;
    padding: 9px 40px;
    border-radius: 10px;
    margin-left: 17px;
}


.cartas .carta .carta-header {
    height: 200px;
    background-size: cover;
    background-position: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.seccion {
    margin-top: 30px;
}

.cartas .carta .carta-header span {
    color: #fff;
    font-size: 35px;
    display: block;
    font-weight: 400;
    margin-left: 36px;
}

.cartas .carta .carta-contenido {
    position: relative;
    height: 100px;
    justify-content: c;
    align-items: center;
    display: flex;
}

.cartas .carta .carta-contenido p {
    font-size: 18px;
    font-weight: 300;
    color: #000;
    width: 100%;
    padding: 20px;
}
.cartas .carta .carta-contenido a {
    background: #000;
    color: #fff;
    padding: 9px 40px;
    border-radius: 10px;
    /* margin-left: 17px; */
    margin-top: 0;
    right: 21px;
    position: absolute;
}
.oratoria {
    margin-top: 100px;
}

.styling {
    margin-top: 100px;
}

.tutoriales {
    margin-top: 100px;
}

.contenido {
    margin-top: 100px;
}
.cartas .carta .carta-header img {
    display: block;
    margin: 0 auto;
    max-width: 80px;
}
.cartas .carta .carta-contenido.secciones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.carta-contenido.secciones .material {
    display: block;
    font-size: 22px;
    font-weight: 400;
    margin-top: 20px;
    margin-left: 20px;
}

.carta-contenido.secciones .descrip {
    display: block;
    font-size: 18px;
    font-weight: 300;
    margin-top: 5px;
    margin-left: 20px;
}

.carta-contenido a {
    display: block;
    margin-top: 20px;
    width: 166px;
}
.active{
    padding-bottom: 5px;
    border-bottom: 5px solid #F37035;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    right: 20px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown:hover .dropdown-content {
    display: block;
    margin-top: -32px;
  }
  .dropdown-header {
    width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    flex-direction: column;
}

.dropdown-content .dropdown-header img {
    display: block;
    width: 100%;
    max-width: 30px;
    }

.dropdown .name-user {
    text-align: center;
    margin: 6px auto;
    display: block;
    font-size: 14px;
    color: #000;
}
.carta-contenido .ingresar {
    width: 140px;
}
.galery {
    top: 0px;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.galery .opacity {
    position: fixed;
    opacity: 0.5;
    background: #000;
    top: 0px;
    height: 100%;
    z-index: 1;
    width: 100%;
}

.galery .content-galery {
    max-width: 100%;
    position: relative;
    z-index: 2;
}

.galery .content-galery .content-image {
    height: 90vh;
    opacity: inherit;
    display: flex;
    justify-content: center;
    position: relative;
    align-content: center;
}

.galery .content-galery .content-image .img-ficha {
    display: block;
    width: 100%;
    margin: 60px auto;
    max-width: 1000px;
}
.header1 {
    height: 100px;
}
.oratoria .cartas .carta .carta-header {
    display: flex;
    height: 100%;
}
.styling .cartas .carta .carta-header {
    display: flex;
    height: 100%;
}
.contenido .cartas .carta .carta-header {
    display: flex;
    height: 100%;
}

img.fondo {
    display: block;
    width: 100%;
}

img.open {
    position: absolute;
    left: 50%;
    margin-left: -40px !important;
}

.cartas .carta .carta-header img.fondo {
    max-width: none;
    height: 100%;
}
@media all and (max-width: 1000px) {
    .bienvenida{
        width: 693px;
        margin: 32px auto;
    }
    .contenedor{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
    }
    .header .contenedor .header1 {
        width: 100%;
        max-width: 286px;
        display: block;
        top: 0;
        left: 0;
        position: absolute;
    }
    .header .contenedor .header2 {
        display: block;
        position: absolute;
        top: 0;
        left: 199px;
    }
    .header .contenedor .header3 {
        display: block;
        max-width: 300px;
        top: 0;
        right: 0;
        position: absolute;
    }
}
@media all and (max-width: 700px) {
    .banner .menu span{
        font-size: 20px;
    }
    .bienvenida{
        width: 496px;
        margin: 32px auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .bienvenida span{
        font-size: 49px;
        display: block;
        font-weight: 700;
        margin: 0 auto;
    }
    .bienvenida p {
        display: block;
        font-size: 18px;
        width: 70%;
        font-weight: 300;
        color: #fff;
        margin: 0 auto;
    }
}
@media all and (max-width: 875px){
    .banner .menu span{
        font-size: 20px;
    }
}
@media all and (max-width: 761px){
    .banner .menu span{
        font-size: 20px;
    }
    .header .contenedor .header2 {
        display: none;
        position: absolute;
        top: 0;
        left: 199px;
    }
}
@media (max-width: 648px){
    .banner .menu span{
        font-size: 17px;
    }
}
@media (max-width: 564px){
    .banner .menu span{
        font-size: 14px;
    }
    .bienvenida{
    width: 264px;
    }
    .bienvenida span{
    font-size: 30px;
    }
    .bienvenida p {
    font-size: 14px;
    width: 190px;
    }
    .btn-home{
        display: none !important;
    }
}
@media (max-width: 362px){
    .banner .menu span{
        font-size: 10px;
    }
}

/******************** login ***********************/
.container-login .content-login {
    height: 100vh;
    background-color: #F1F0EF;
}

.container-login .banner-login {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-login .content-login .logo-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    height: 50vh;
    position: relative;
}

.content-login .logo-header .logo {
    display: block;
    width: 100%;
    /* max-height: 90px; */
    margin: 0 auto;
}

.container-login .content-login .logo-header .login-contenido {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.frase-login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.frase-login .frase {
    width: 95px;
    margin-left: 21px;
}
.form-login form {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 300px;
}

.form-login form label {
    font-size: 23px;
    font-weight: 400;
}

.form-login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}
.form-login form {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 300px;
}

.form-login form label {
    font-size: 23px;
    font-weight: 400;
    margin-top: 8px;
}

.form-login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    margin-top: -15px;
}

.form-login form input {
    border-radius: 5px;
    border: none;
    border: 1px solid #aea69f;
}

.form-login form input[type="submit"] {
    margin-top: 10px;
    background-color: #0A0621;
    color: #fff;
    font-size: 18px;
    padding: 5px;
    font-weight: 400;
}
.alert_login{
    font-size:13px;
    border-radius:6px;
    padding:12px;
    text-align:center;
    background-color:#fc3f67;
    color:#fff;
    opacity:1;
    transition:opacity .6s;
    margin-bottom:15px;
    margin-top: 15px;
    border:0;
}
.styling .cartas .carta .carta-contenido a {
    background: #000;
    color: #fff;
    padding: 9px 40px;
    border-radius: 10px;
    margin: 0 auto;
}
.styling .cartas .carta .carta-contenido.secciones {
    justify-content: center;
}
.styling .cartas .carta {
    height: 200px;
}
.oratoria .cartas .carta {
    height: 300px;
}

.oratoria .cartas .carta .carta-header {
    height: 300px;
}

.contenido .cartas .carta {
    height: 300px;
}

.contenido .cartas .carta .carta-header {
    height: 300px;
}
.styling .cartas .carta {
    height: 300px;
}

.styling .cartas .carta .carta-header {
    height: 300px;
}
.admin {
    width: 100%;
    display: flex;
    flex-direction: row;
}

a.salir {
    width: 100%;
    display: block;
    margin-top: 10px;
    background: #000;
    color: #fff;
    padding: 7px 40px;
    border-radius: 10px;
    text-align: center;
}

@media all and (max-width: 991px) {
        .banner-login{
            display: none;
        }
        .oratoria .cartas .carta{
            max-width: 531px;
            margin: 0 auto;
        }
        .styling .cartas .carta{
            max-width: 531px;
            margin: 0 auto;
        }
        .contenido .cartas .carta{
            max-width: 531px;
            margin: 0 auto;
        }
    }
@media all and (max-width: 1100px){
    .contenido-influencer{
        width: 100%;
    }
}
@media all and (max-width: 561px){
    .oratoria .cartas .carta{
        max-width: 291px;
        height: 188px;
    }
    .styling .cartas .carta{
        max-width: 291px;
        height: 188px;
    }
    .contenido .cartas .carta{
        max-width: 291px;
        height: 188px;
    }
    .cartas .carta .carta-header img.fondo{
        max-height: 188px;
        width: 100%;
        height: 100%;
    }
    .oratoria .cartas .carta .carta-header{
        height: 188px;
    }
    .styling .cartas .carta .carta-header{
        height: 188px;
    }
    .contenido .cartas .carta .carta-header{
        height: 188px;
    }
}


/******************** fin login ***********************/